  .fruit-dropdown-select {
    width: 127px;
    background-color: #cdc5b4;
    height: 33px;
    width: 105px;
    border: inset;
    border-radius: 8px;
    border-color: #1d3461;
    color: #1d3461;
  }
  .difficulty-dropdown-select {
    width: 127px;
    background-color: #cdc5b4;
    height: 33px;
    border: inset;
    border-radius: 8px;
    border-color: #1d3461;
    color: #1d3461;
  }
  .translation-dropdown-select {
    width: 127px;
    background-color: #cdc5b4;
    height: 33px;
    width: 115px;
    border: inset;
    border-radius: 8px;
    border-color: #1d3461;
    color: #1d3461;
  }

  .admin-header-element {
    border-style: outset;
    border: 3px outset white;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #a64444;
    width: 18%;
    padding-top: auto;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    font-size: 25px;
  }

  #ua-window {
    border: inset;
    border-radius: 4px;
    border-color: #1d3461;
    background-color: #cdc5b4;
    position: absolute;
    height: 58%;
    width: 79%;
    top: 34%;
    left: 8.45%;
    color: #1d3461;
    overflow: scroll;
    
  }

  /* Question Fetch Element */
.admin-textfield {
  height: 9px;
  width: 100px;
  border: 2.1px inset #1d3461;
  border-radius: 5px;
  background-color: #cdc5b4;
  color: #1d3461;
  line-height: 18px;
  }
  .admin-textfield::placeholder {
    color: white;
  }


  /* 'Query Details' CSS */
  #window-text {color: #1d3461}
  .usd-timestamp {}
  .usd-preset {}
  .usd-preset-subs {}
  .usd-custom {}
  .usd-custom-subs {}

/* Buttons */
.account-button-class {
 
  color: white;
  background-color: #1d3461;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.ua-study-window {
   top: 15.8%;
   height: 79.2%;
   /* display:none; */
}

.ua-fetch-window {
    top: 19.5%;
    left: 8.45%;
    width: 79%;
    background-color: #cdc5b4;
    border: inset;
    border-radius: 4px;
    border-color: #1d3461;
    color: #1d3461;
    z-index: 2;
}

input#firstName.admin-textfield {background-color: #1d3461; color: white;}
input#lastName.admin-textfield {background-color: #1d3461; color: white;}
input#email.admin-textfield {background-color: #1d3461; color: white;}
input#username.admin-textfield {background-color: #1d3461; color: white;}
input#password.admin-textfield {background-color: #1d3461; color: white;}

.fetch-table {
  width: 105%; /* Reduce table width */
  border-collapse: collapse; /* Ensure borders don't overlap */
  margin-top: 181px;
  table-layout: fixed; 
}
.fetch-table th {
  position: sticky; /* Keep headers visible during scrolling */
  top: 0; /* Stick headers to the top */
  background-color: #a64444; /* Header background color */
  color: white;
  z-index: 1; /* Ensure headers stay above table rows */
  padding: 5px; /* Add padding to headers */
  text-align: center; /* Center-align text */
  border: 1px solid #1d3461; 
}
.fetch-table td {
  text-align: center; /* Center-align text */
  border: 1px solid #1d3461; /* Optional: Add border for clarity */
  background-color: #cdc5b4; /* Cell background color */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Added ellipsis for overflowed text */
  white-space: nowrap; /* Prevent text wrapping */

}
.fetch-table tbody {
  max-height: 60vh; /* Limit the height of the table body */
  overflow: scroll; 
}
.fetch-table thead {

  width: 100%; /* Match the width of the table */
}
.fetch-table tr {
  width: 100%; /* Match the width of the table */
  left: 3%;
}