.user-nav-css {  
    display: flex;
    place-content: center;
    background: #cdc5b4;
    border: outset;
    position: fixed;
    right: 3%;
    top: 18%;
    width: 20%;
    height: 68%;
    box-shadow: 0 0 5px black;
    border-radius: 10px;}

.user-field {font-size: 12px; text-align: left;  overflow: scroll;}
.user-scope-display-user-field {font-size: 12px; text-align: left; line-height: 21px; overflow: scroll;}
.user-info-title {font-size: 16px; text-align: center;}
.user-info-card {
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    position: fixed;
    top: 29%;
    width: 12%;
    height: 16%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: small;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    overflow: scroll;
}

/* Right side column title */
.user-info-column {
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    place-content: center;
    position: fixed;
    top: 21%;
    width: 12%;
    height: 5%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
   font-size: 26px;
    }
.user-scope-display {
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    position: fixed;
    top: 47.75%;
    left: 78.8%; /* Match the horizontal position of .user-info-card */
    width: 12%;
    height: 16%;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 7px;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    overflow: scroll;
    }

.usd-title {font-size: 16px; text-align: center; padding-top: 15px;}
.usd-timestamp {font-size: 0px; text-align: center;}
.usd-preset {font-size: 12px; text-align: center}
.usd-preset-subs {font-size: 10px; text-align: center}
.usd-custom {font-size: 12px; text-align: center}
.usd-custom-subs {font-size: 10px; text-align: center}

.user-recent-activity {
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    position: fixed;
    top: 66.5%;
    width: 12%;
    height: 16%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: small;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    overflow: scroll;
    }

.ura-title {font-size: 16px; text-align: center; line-height: 0.5;}
.ura-window {
    background-color: #cdc5b4; 
    border: inset;
    border-color: #a64444;
    line-height: 1;
    height: 61%;
    width: 100%;
    overflow: scroll;
}
.usd-window {
    background-color: #cdc5b4; 
    border: inset;
    border-color: #a64444;
    position: flex;
    line-height: 1;
    height: 61%;
    width: 100%;
    overflow: scroll;
}
.user-account-aside {
    display: flex;
    place-content: center;
    flex: 0 0 25vw;
    background: #cdc5b4;
    color: #85756e;
    box-sizing: borderbox;
    border: outset;
    position: fixed;
    left: 3%;
    top: 18%;
    width: 20%;
    height: 68%;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    overflow: auto;
  }
  
  .utilities {
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    place-content: center;
    position: fixed;
    top: 21%;
    width: 12%;
    height: 5%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    font-size: 26px;
    z-index: 1;
  }
  .util-bible {
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    position: absolute;
    top: 16.2%;
    height: 59%;
    width: 75.6%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: x-small;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
  }
  .eBible-window {    
    background-color: #cdc5b4; 
    color: #a64444;
    border: inset;
    border-color: white;
    position: fixed;
    line-height: 1;
    top: 54.2%;
    height: 13.5%;
    width: 15%;
    border-radius: 8px;
    overflow: scroll;}
  .util-timer {
    place-content: center;
    border: outset;
    border: 3px outset white;
    border-radius: 8px;
    background-color: #a64444;
    color: white;
    position: absolute;
    top: 79.9%;
    width: 75.6%;
    height: 15.2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 8 14px 8px black;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 5px black;
    z-index: 1;
  }

  .ua-study-select {
    width: 127px;
    background-color: #1d3461;
    border-color: white;
  }

  .ua-fetch-button {
    background-color: #a64444;
    height: 33px;
    width: 100px;
  }

main#ua-window.ua-study-window {
  display: flex; 
  justify-content: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-radius: 8px;
    color: white;
    padding-left: 2px;
}
table {
    border: 3px outset;
}
th {
    border: 1px solid;
    border-color: white;
    background-color: #4d788f;
    border-radius: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
td {
    border: ridge;
    border-color: white;
    border-radius: 3px;
    background-color: #4d788f;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
th {text-align: center;}
.scripture-cell:hover {
  background-color: white;
  color: #1d3461;
  left: 10%;
  width: 31%;
}
.verse-cell:hover {
  background-color: white;
  color: #1d3461;
  left: 10%;
  width: 31%;
}
.fruit-cell:hover {
  background-color: white;
  color: #1d3461;
  left: 10%;
  width: 31%;
}

.ua-quiz-input {
  width: 80%;
  height: 10px;
  background-color: #1d3461;
  opacity: 0.95;
  color: white;
  border-color: white;
  border-radius: 4px;
}
.ua-quiz-input::placeholder {
  color: white;
  opacity: 0.38;
}

/* Adjusted User Info Column Stylizations */
.ua-user-info-card {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  position: fixed;
  top: 29%;
  width: 12%;
  height: 12%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
  overflow: scroll;
}
.ua-user-scope-display {
border: outset;
border: 3px outset white;
border-radius: 8px;
background-color: #a64444;
color: white;
position: fixed;
top: 43.75%;
left: 78.8%; /* Match the horizontal position of .user-info-card */
width: 12%;
height: 28%;
padding-left: 2%;
padding-right: 2%;
line-height: 7px;
box-shadow: 8 14px 8px black;
-webkit-box-shadow: 0 0 10px #fff;
box-shadow: 0 0 5px black;
overflow: scroll;
}
.ua-user-recent-activity {
  border: outset;
  border: 3px outset white;
  border-radius: 8px;
  background-color: #a64444;
  color: white;
  position: fixed;
  top: 74.5%;
  width: 12%;
  height: 8%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: small;
  box-shadow: 8 14px 8px black;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 5px black;
  place-content: center;
  justify-content: center;
  }

  .ua-ura-window {
    background-color: #1d3461; 
    border: 3px outset white;
    border-color: white;
    height: 40%;
    display: flex;
    overflow: scroll;
    color: White;
    place-content: center;
    align-items: center;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
  }